<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory> <!-- مسیر درست نسبت به ریشه backend -->
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Api</directory>   <!-- مسیر درست نسبت به ریشه backend -->
        </testsuite>
    </testsuites>
</phpunit>
